.content {
  padding-block: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  @media (min-width: 768px) {
    padding-block: 20px;
    gap: 12px;
  }
  @media (min-width: 1440px) {
    gap: 20px;
  }
}
