.headercontainer {
  background-color: #eeeeee;
  border-bottom: 1px solid black;
}

.headercontent {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
}

.cartwrapper {
  position: relative;

  .total {
    position: absolute;
    z-index: 10;
    top: calc(100% + 20px);
    right: 0;
  }
}

.opencartbutton {
  cursor: pointer;
}
